<head>
    <style type="text/css">
    </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar sticky-top navbar-light bg-light">
    <a class="text-decoration-none" href="/recipes">
        <img src="/public/forkandknife.png" width="40" height="40" class="mx-3 d-inline-block align-top" alt="">
        <span class="fs-4 fw-bold text-dark navbar-text">Human Culinary Interaction</span>
    </a>
    <div class="float-end">
    {{#if username}}
    <a class="text-decoration-none" href="/recipes/search">
        <img src="/public/search.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Search</span>
    </a>
    <span class="me-4 fs-4 fw-bold text-dark navbar-text">Logged in as: {{username}}</span>
        <a class="text-decoration-none" href="/recipes/create">
        <img src="/public/add symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Add Recipe</span>
    </a>
    <a class="text-decoration-none" href="/users/logout">
        <img src="/public/register symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Logout</span>
    </a>
    {{else}}
    <a class="text-decoration-none" href="/recipes/search">
        <img src="/public/search.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Search</span>
    </a>

    <a class="text-decoration-none" href="/users">
        <img src="/public/login symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Login</span>
    </a>
    <a class="text-decoration-none" href="/users/signup">
        <img src="/public/register symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Register</span>
    </a>
    {{/if}}

    </div>  
</nav>

<div class="container px-5 my-5">
    <form id="recipeForm">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" id="title" type="text" placeholder="Title" data-sb-validations="required" required/>
            <div class="invalid-feedback" data-sb-feedback="title:required">Title is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image</label>
            <input class="form-control" id="image" type="url" placeholder="Image" data-sb-validations="required" required />
            <div class="invalid-feedback" data-sb-feedback="image:required">Image is required.</div>
        </div>
        <div id="image_preview" class="mb-3" style="display: none;">
            <img id="preview" src="" alt="image not functional"></img>
        </div>
        <div class="mb-3">
            <label class="form-label" for="descrption">Description</label>
            <textarea class="form-control" id="descrption" type="text" placeholder="Description" style="height: 10rem;" data-sb-validations="required" required></textarea>
            <div class="invalid-feedback" data-sb-feedback="descrption:required">Description is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="howManyStepsAreInYourRecipe">How many steps are in your recipe?</label>
            <div id="stepRows"></div>
            <button id="addStep" type="button" class="btn btn-success">Add Step</button>
        </div>
        <div class="mb-3">
            <label class="form-label" for="howManyIngredientsAreInYourRecipe">How many ingredients are in your recipe?</label>
            <div id="ingredientRows"></div>
            <button id="addIngredient" type="button" class="btn btn-success">Add Ingredient</button>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Create Recipe</button>
        </div>
        <div id='username' val='{{username}}' disabled></div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/public/scripts/addrecipe.js"></script>