<head>
    <style type="text/css">
    </style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <a class="text-decoration-none" href="/recipes">
        <img src="/public/forkandknife.png" width="40" height="40" class="mx-3 d-inline-block align-top" alt="">
        <span class="fs-4 fw-bold text-dark navbar-text">Human Culinary Interaction</span>
    </a>
    <div class="float-end">
    {{#if username}}
    <a class="text-decoration-none" href="/recipes/search">
        <img src="/public/search.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Search</span>
    </a>
    <span class="me-1 fs-4 fw-bold text-dark navbar-text">Logged in as: </span>
    <span class="me-4 fs-4 fw-bold text-danger navbar-text">{{username}}</span>
        <a class="text-decoration-none" href="/recipes/create">
        <img src="/public/add symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Add Recipe</span>
    </a>
    <a class="text-decoration-none" href="/users/logout">
        <img src="/public/register symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Logout</span>
    </a>
    {{else}}
    <a class="text-decoration-none" href="/recipes/search">
        <img src="/public/search.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Search</span>
    </a>
    <a class="text-decoration-none" href="/users">
        <img src="/public/login symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Login</span>
    </a>
    <a class="text-decoration-none" href="/users/signup">
        <img src="/public/register symbol.png" width="40" height="40" class="me-1 d-inline-block align-top" alt="">
        <span class="me-4 fs-4 fw-bold text-dark navbar-text">Register</span>
    </a>
    {{/if}}

    </div>  
</nav>
<br>
<br>
<div class="container px-5 my-5">
    <div class="mb-3">
        <form action="/recipes/search" method="POST">
        <label class="form-label" for="search">Search for Recipe by Title</label>
        <input class="form-control" type="text" name="searchTerm" placeholder="Recipe Title" id="search"/>
        <br/>
        <button class="btn btn-primary btn-lg" type="submit">Search</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>